@charset "uft-8";

body{
	height:100%;
	width:100%;
	
}
*{
	border:0;
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}
.menu{
	width:4%;
	min-width:41px;
	height:190px;
	background:#61666c;
	position:fixed;
	top:0;
	left:0;
	transition:all 1s ease;
	z-index:999;
}

.menu:hover{
	width:230px;height:100%;
}


.menu:hover .text_m{
	animation:move_m 1s ease;
	animation-fill-mode:forwards;
}

@keyframes move_m{
	0%{left:40%;top:26px;}
	50%{left:20%;top:26px;}
	100%{left:0%;top:26px; opacity:0;}
}

.menu:hover .text_e{
	animation:move_e 1s ease;
	animation-fill-mode:forwards;
}
@keyframes move_e{
	0%{left:40%;top:56px;}
	50%{left:40%;top:26px;}
	100%{left:0%;top:26px; opacity:0;}
}


.menu:hover .text_n{
	animation:move_n 1s ease;
	animation-fill-mode:forwards;
}
@keyframes move_n{
	0%{left:65%;top:56px;}
	50%{left:78%;top:26px;}
	100%{left:96%;top:26px; opacity:0;}
}

.menu:hover .text_u{
	animation:move_u 1s ease;
	animation-fill-mode:forwards;
}
@keyframes move_u{
	0%{left:65%;top:56px;}
	50%{left:88%;top:26px;}
	100%{left:96%;top:26px; opacity:0;}
}






.text_m{

	width:20px;
	height:20px;
	background:url("../images/photo.png") 0px 0 no-repeat;
	position:absolute;
	left:50%;
	top:26px;
}

.text_e{

	width:20px;
	height:20px;
	background:#61666c;
	background:url("../images/photo.png") -20px 0 no-repeat;

	position:absolute;
	left:50%;
	top:56px;
}

.text_n{
	
	width:20px;
	height:20px;
	background:url("../images/photo.png") -40px 0 no-repeat;
	position:absolute;
	left:50%;
	top:86px;
}

.text_u{

	width:20px;
	height:20px;
	background:url("../images/photo.png") -60px 0 no-repeat;
	position:absolute;
	left:50%;
	top:116px;
}

.logo_img{
	width:60px;
	height:30px;
	background:url("../images/photo.png") 0 -123px no-repeat;
	position:absolute;
	top:26px;
	opacity:0;
}

.menu:hover .logo_img{
	animation:move_logo 1s ease;
	animation-fill-mode:forwards;

}

@keyframes move_logo{
	0%{width:0px;left:26px;opacity:0}
	50%{width:200px;left:26px;opacity:0.8;}
	100%{width:200px;left:26px;opacity:1;}
}

.menu{
	padding-top:100px;
	
	text-align:center;

}

.menu_list li{
	width:100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	opacity:0;
	color:white;
	font-size:14px;
	font-family:"microsoft YaHei";
}

.menu_list{
	width:100%;
	visibility:hidden;
}

.menu:hover .menu_list{
	visibility:visible;
}

.menu:hover .menu_list li{
	animation:list_m 1s ease;
	animation-fill-mode:forwards;

}

@keyframes list_m{
	0%{opacity:0;}
	50%{opacity:1;}
		100%{opacity:1;}
}

.menu_list li:hover{
	background:white;
	color:#666;
}


.modeshow{
	width:230px;
	height:100%;
	background:#333;
	position:absolute;
	visibility:hidden;
	left:230px;
	top:0;
}
.modeshow li:hover{
	background:#000;
}
.l21{

	background:url("../images/photo.png") 5px -146px no-repeat;
	width:;
}

.l22{
	background:url("../images/photo.png") 5px -195px no-repeat;
}


.l23{
	background:url("../images/photo.png") 5px -257px no-repeat;
}

.l24{
	background:url("../images/photo.png") 5px -318px no-repeat;
}

.l25{
	background:url("../images/photo.png") 5px -378px no-repeat;
}
.modeshow a{
	color:white;
	font-size:14px;
	font-family:"microsoft YaHei";
}

.menu_list li{
	border-bottom:1px #666 solid;
}

.menu_list li:hover .modeshow{
	visibility:visible;
}

.modeshow .l21:hover{
	background:url("../images/photo.png") 5px -146px no-repeat;
	background-color:#000;

}

.modeshow .l22:hover{
	background:url("../images/photo.png") 5px -195px no-repeat;
	background-color:#000;
}

.modeshow .l23:hover{
	background:url("../images/photo.png") 5px -257px no-repeat;
	background-color:#000;
}

.modeshow .l24:hover{
	background:url("../images/photo.png") 5px -318px no-repeat;
	background-color:#000;
}


.modeshow .l25:hover{
	background:url("../images/photo.png") 5px -378px no-repeat;
	background-color:#000;
}

.mode1 li a{
	
	height:100%;
	width:148px;
	padding-left:82px;
	
}

/*.modeshow li a:hover{
	width:230px;
	height:100%;
	display:block;
	background-color:#000;
}*/




.mode1{
	padding-top:160.5px;
	
}

.mode2{
	padding-top:221.5px;
	
}

.mode3{
	padding-top:283px;
	
}

.mode4{
	padding-top:344px;
	
}

.mode5{
	padding-top:405px;
	
}

.head{
	width:100%;
	min-width:870px;
	position:relative;
	overflow:hidden;
}

.left_button{

	position:absolute;
	top:401px;
	left:0;
}

.right_button{
	position:absolute;
	right:0;
	top:401px;
}

.ad{
	width:92%;
	

	margin:0 auto;
}


.ad img{
	display:block;
	width:100%;
	min-width:870px;

}

.up_but{
	position:absolute;
	bottom:-6px;
	z-index:999;
	left:50%;
	margin-left:-20.5px;


}

.radios{
	width:300px;
	height:126px;
	background:url("../images/radio.jpg") 0 0 no-repeat;
	position:absolute;
	z-index:999;
	left:80px;
	top:20px;

}

/*内容部分*/

.contents{
	width:100%;
	height:auto;
	margin-top:10px;


}
.contents_p1{
	width:70%;
	min-width:1190px;
	height:1050px;
	margin:0 auto;
	
}

.left_p1{
	float:left;
	width:442px;
}

.center_pic{
	float:left;
	width:302px;
	margin:0 auto;
	text-align: center;
}
.right_conter{
	float:left;
	width:442px;
	font-size:14px;
	color:#666;
}

.content_flashlist{
	width:446px;
	height:397px;
	overflow:hidden;
}

.right_conterup img{
	display:block;
	float:left;

}

.crl1{
	margin-left: 20px;
	height:91px;
	line-height:18px;
	width:430px;
	border-bottom:1px #ccc solid;
	padding-top:10px;
}

.content_flashlist{
	
	
	
}

.content_flashlist li{
	float:left;
}

.left_p1 p:nth-child(1){
	font-size:24px;
	line-height:96px;
	font-weight:bold;
}

.left_p1 p:nth-child(2){
	font-size:14px;
	color:#666;
	line-height:22px;

}

.left_p1 p:nth-child(3){
	margin-top: 65px;
	border-bottom:1px #ccc solid;
	padding-bottom:12px;

}

.left_p1 p:nth-child(4){
	font-size:24px;
	line-height:96px;
	font-weight:bold;
	margin-top: 55px;
}

.left_p1 p:nth-child(4) span{
	font-size:40px;

}
.left_p1 p:nth-child(5){

	font-size:14px;
	color:#666;
	line-height:22px;
}

.left_p1 p:nth-child(6){
	margin-top: 68px;
}

.left_p1{
	margin-right: 2px;
}

.list_center{
	background:url("../images/pic_cent_bot.gif") 0 0 no-repeat;
	padding-top:267px;
	box-sizing: border-box;
	height:397px;
	margin-top:-3px;
	list-style:disc;
	}

.list_center li{
	text-align: left;
	list-style:disc;
	margin-left: 40px;
	line-height: 22px;
	color:white;
}
.content_flashlist{
	
	width:1784px;
	height:397px;
	position:absolute;
	
}

.content_flashlist li{
	width:446px;
	height:397px;

}

.content_flashlist li p:nth-child(3){
	margin-top:35px; 
	margin-left:21px;
	font-size:14px;
	color:#666;
	line-height:26px;
}

.content_flashlist li p:nth-child(2){
		margin-top:35px; 
		margin-left:25px;
}

.conten_rdown{
	width:446px;
	height:397px;
	overflow:hidden;
	margin-top:41px;
	position:relative;

}


.crl1 img{
	margin-right: 10px;
}

.crl1 span:nth-child(2){
	font-size:14px;
	color:black;
	font-weight:bold;
}

.crl1 span{
	font-size:10px;
}

.content_flashlist_left{
	display:block;
	width:20px;
	height:20px;
	line-height: 20px;
	background:#ccc;
	position:absolute;
	top:151px;
	right:0px;
	text-align:center;

}

.content_flashlist_right{
	display:block;
	width:20px;
	height:20px;
	line-height: 20px;
	position:absolute;
	background:#ccc;
	top:151px;
	right:25px;
	text-align:center;
}


.contents_p2{
	width:92%;
	height:auto;
	min-width:1280px;
	text-align: center;
	margin:0 auto;
	margin-top:80px;
/*	margin:0 auto;*/
}


.contents_p2_top{
	font-size:36px;
	font-weight:bold;
}

.contents_p2 p:nth-child(2){
	font-size:14px;
	color:#666;
	margin-top:50px;
	line-height:22px;
}

.contents_p2 p:nth-child(3){
	font-size:14px;
	color:#666;
	line-height:22px;
}

.mordf{

	width:100%;
	margin:0 auto;
	height:480px;
	margin-top:30px;
	background:url("../images/mordf.jpg") 0 0 no-repeat;
	position:relative;
}


.p2_movebox{
	width:1190px;
	height:220px;
	color:white;
	overflow:hidden;
	position:absolute;
	left:50%;
	margin-left:-595px;
	bottom:-110px;
	z-index:999;
}

.p2_mboxtop{
	height:35px;
	width:238px;
	margin:0 auto;
	background:#909090;
	line-height: 35px;
}
.p2_movebox div{
	width:238px;
	height:185px;
	float:left;
	background:#909090;
}

.runtext1{
	color:white;
	padding-top:24px;
	box-sizing:border-box;
	font-size:14px;
	line-height: 20px;

}

.runtext2{
	font-size:14px;
	color:white;
	
	
}

.tlch{
	
	width:100%;
	height:auto;

	color:#666;
	margin-top:170px;

}
.tlch_top{
	height:auto;
	width:1190px;

	margin:0 auto;
	margin-top:170px;
	text-align: center;
	line-height: 26px;
}

.tlch_top img{
	margin-bottom: 30px;
}
.tlch_down{
	width:1190px;
	height:450px;

	margin:0 auto;
	margin-top:60px;

}

.tlch_down div{
	float:left;
	
	
}

.tlch_down_left{
	float:left;
	width:440px;
	height:450px;
	overflow: hidden;
	text-align:left;
}

.tlch_down_center{
	float:left;
	width:306px;
	height:450px;
	overflow:hidden;
	color:white;
	position:relative;
}

.tlch_down_right{
	float:left;
	width:442px;
	height:450px;
	overflow: hidden;
	text-align:right;
}

.tlch_clist{
	width:918px;
	height:450px;
}

.tlch_clist li{
	float:left;
	width:306px;
	height:423px;
	background:#909090;
}

.tlch_down_left p{
	margin-top:20px;
	margin-bottom:25px;
	line-height: 26px;

}

.tlch_down_right p{
	margin-top:20px;
	margin-bottom:25px;
	line-height: 26px;
}

.tlch_c_left{
	display:block;
	text-align: center;
	width:38px;
	height:28px;
	background:#e6e6e7;
	position:absolute;
	bottom:14px;
	right:153px;
	line-height:28px;
}

.tlch_c_right{
	display:block;
	text-align:center;
	width:38px;
	height:28px;
	background:#e6e6e7;
	position:absolute;
	bottom:14px;
	left:153px;
	line-height:28px;
}

.experience{
	height:746px;
	width:92%;
	margin:0 auto;
	position:relative;

}
.experience_top{
	width:100%;
	height:521px;
	background:#f0f0f0;
	text-align: center;
}
.last_nav{
	width:1190px;
	height:480px;
	overflow: hidden;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-595px;

}
.last_list_nav{
	height:180px;
	width:5950px;
}
.last_list_nav li{
	width:1190px;
	height:480px;
}

.experience_top img{
	margin-top: 60px

}

.experience_top p{
	line-height: 28px;
	color:#666;
}

.experience_top p:nth-child(2){
	margin-top:40px;


}

.ex_nav_left{
	display:block;
	width:36px;
	height:82px;
	position:absolute;
	background:rgb(230,230,231);
	text-align:center;
	line-height: 82px;
	top:210px;

}

.ex_nav_right{
	display:block;
	width:36px;
	height:82px;
	position:absolute;
	background:rgb(230,230,231);
	text-align:center;
	line-height: 83px;
	right:0px;
	top:210px;

}


.last_list_nav li{
	position:relative;
}
.trydrive{
	width:1190px;
	height:40px;
	background-color:rgba(0,0,0,0.5);
	line-height: 40px;
	/*background:black;*/
	position:absolute;
	bottom:-3px;
	text-align:center;
	color:white;
}

.trydrive a{
	color:red;
}

.floot{
	width:100%;
	/*min-width:1924px;*/
	height:auto;
	
	margin:0 auto;
	margin-top:100px;
	overflow: hidden;

}

.floot_top{
	position:relative;

}
.floot_top p:nth-child(2){
	color:white;
	position:absolute;
	left:45%;
	top:40%;
	font-size:20px;


}

.floot_top p:nth-child(3){
	color:white;
	position:absolute;
	left:42%;
	top:50%;
	font-size:14px;


}
.floot_top p:nth-child(4){
	color:white;
	position:absolute;
	right:45%;
	top:60%;
	font-size:20px;


}

.floot_top p:nth-child(5){
	color:white;
	position:absolute;
	right:48%;
	top:70%;
	font-size:14px;
	border-bottom: 4px #606060 solid;


}

.floot_top img{
	display: block;
	width:100%;
}



.floot_center{
	position:relative;
	width:1920px;
}

.fc_content{
	width:100%;
	position: absolute;
	top:30px;

}

/*.floot_center img{
	display:block;
	width:100%;
}*/

.fc_content p{
	width:1920px;
	text-align: center;
	height:30px;
	font-size:28px;
	margin-bottom: 20px;
}

.floot_last{
	width:100%;
	height:50px;
	text-align: right;
	background:#606060;
	line-height: 50px;
	color:#ccc;
}

.floot_last span{
	color:#bfd7f4;
}
.fc_content{
	width:1920px;
	height:100%;
}
.addinfo{
	float:left;
	margin-left:400px;
	line-height: 30px;

}
.addinfo li:nth-child(1){
	font-size: 20px;
	margin-bottom: 15px;
}

.comtersinfo{
	width:600px;
	float:left;
	margin-left:-350px;
}

.comtersinfo input{
	height:38px;
	width:400px;
	outline: none;
}

.comtersinfo button{
	height:38px;
	width:400px;
	background:#383838;
	color:white;
	font-size:20px;
	outline:none;
	margin-top: 60px;
}

.comtersinfo .comtersinfo_lc{
	height:100px;
}


/*动画实现功能*/

.leftmoveshow{
	animation:lefmoveshow 2s ease ;
	animation-fill-mode:both;
}
.rightmoveshow{
	animation:rightmoveshow 2s ease;
	animation-fill-mode:both;
}

.upmoveshow{
	animation:upmoveshow 2s ease;
	animation-fill-mode:both;
}

@keyframes lefmoveshow{
	0%{transform:translateX(-100%);
		opacity:0;
	}
	100%{transform:translateX(0);opacity:1;}
}

@keyframes rightmoveshow{
	0%{transform:translateX(100%);opacity:0;}
	100%{transform:translateX(0);opacity:1;}
}

@keyframes upmoveshow{
	0%{transform:translateY(100%);opacity:0;}
	100%{transform:translateY(0);opacity:1;}
}



