@charset "utf-8";


*{
	border:0;
	padding:0;
	margin:0;
}

body,html{
	width:100%;
	height:100%;
}


ul,ol{
	list-style:none;
}

a{
	color:#808080;
	text-decoration:none;
}

a:hover{
	color:red;
}

i,em{
	font-style:normal;
}

img{
	display:block;
	height:0;
}

.clearfix:after{
	display:block;
	height:0;
	overflow:hidden;
	content:"";
	clear:both;
}


@media screen and(max-width:320px){
	body{
		font-size:12px!important;
	}
}
